@model Pubsub.ViewModels.MessageList

@if (Model.MissingProjectId)
{
    <h1>Error</h1>
    <p>Set the ProjectId in appsettings.json.</p>
    <p>See the README.md in the project directory for more information.</p>
}
else
{
    <H1>Cron message generator</H1>
    <div>
        <p>Amount of cron calls: @Model.CronCallCounter</p>
        <p>Amount of messages sent: @Model.CronMessageCounter</p>
    </div>
}
